body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    position: relative; /* Thêm vị trí relative để chứa nút ở góc */
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

h1 {
    color: #333;
}

h2 {
    margin-top: 20px;
    color: red;
}

#usedNumbers {
    margin-top: 10px;
    font-size: 18px;
    color: #555;
}

/* Định vị nút Reset ở góc dưới bên phải */
#resetButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #DC3545; /* Màu đỏ cho nút Reset */
    color: white;
    font-size: 16px;
    border-radius: 5px;
}
